@import "vendors/normalize.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: ease-in-out 1s;
}

body {
  margin: 0px;
  height: 100vh;
  border: 20px rgb(39, 39, 39) solid;
  font-size: 16px;
}

#blobs {
  width: 100%;
  height: 100vh;
  z-index: 0;
  position: fixed;
}
#blobs img {
  width: 30%;
}
#blobs :first-child {
  top: 0;
  left: 0;
  position: absolute;
}
#blobs :last-child {
  bottom: 0;
  right: 0;
  position: absolute;
}

#entete .titre .nomets {
  font-family: "MontserratAlt1-Thin";
  font-size: 6.5vw;
  margin-bottom: 0px;
  margin: auto;
  text-align: center;
  background: linear-gradient(120deg, rgb(206, 179, 116) 20%, rgb(252, 223, 188) 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#entete h2 {
  font-family: "adelia";
  margin-left: 60%;
  font-size: 1.5vw;
  color: black;
  opacity: 0;
  transform: translateX(-20px);
  animation: titreFadeIn 0.5s ease-out 0.5s forwards;
}
#entete p {
  font-family: "Montserrat";
  font-weight: 400;
  width: 50%;
  margin: auto;
  padding-top: 100px;
  font-size: 1.2vw;
}

.photomoi {
  height: 70vh;
  border-radius: 30px;
  border: 4px rgb(206, 179, 116) solid;
  border-radius: 30px;
  box-shadow: 10px 6px 6px rgba(206, 179, 116, 0.474);
}

.accueil {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;
  margin-top: 4%;
  align-items: center;
}

.linebottom {
  border-top: 2px solid rgb(242, 224, 182);
  bottom: 0;
  margin-top: 40px;
}

.linetop {
  border-top: 2px solid rgb(242, 224, 182);
  top: 10;
}

nav {
  display: flex;
  padding: 20px;
  justify-content: space-around;
}
nav a {
  color: rgb(103, 94, 78);
  text-decoration: none;
  font-family: "MontserratAlt1-Regular";
  transition: ease-in-out 1s;
  position: relative;
}
nav a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -10px;
  left: -11%;
  background-color: rgb(103, 94, 78);
  transition: width 0.5s;
}
nav a:hover::before {
  width: 122%;
}

@font-face {
  font-family: "MontserratAlt1-ExtraLight";
  src: url("/Assets/MontserratAlt1-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "MontserratAlt1-Light";
  src: url("/Assets/MontserratAlt1-Light.ttf") format("truetype");
}
@font-face {
  font-family: "MontserratAlt1-Regular";
  src: url("/Assets/MontserratAlt1-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "MontserratAlt1-SemiBold";
  src: url("/Assets/MontserratAlt1-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "MontserratAlt1-Thin";
  src: url("/Assets/MontserratAlt1-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "adelia";
  src: url("/Assets/adelia.ttf") format("truetype");
}
.titrepage {
  font-family: "MontserratAlt1-Regular";
  font-size: 1.4vw;
  margin: 10px 0px 10px 20px;
  background: linear-gradient(120deg, #ceb374 20%, rgb(252, 223, 188) 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0;
  margin-left: 5%;
  opacity: 0;
  transform: translateX(20px);
  animation: titreFadeIn 0.4s ease-out 0.4s forwards;
}
.titrepage h1 {
  margin-bottom: 0;
}
.titrepage .icones {
  display: flex;
}
.titrepage .icones img {
  width: 3vw;
  height: 3vw;
  margin-right: 6px;
  margin-top: 2%;
}

.linedown {
  width: 26%;
  border: 1px solid rgb(206, 179, 116);
  padding: 0;
}

.presentation {
  display: flex;
  width: 80%;
  margin: auto;
  gap: 10%;
}
.presentation .textepres {
  width: 60%;
}
.presentation p {
  width: 100%;
  margin: auto;
  padding: 20px 30px 10px 30px;
  font-family: "MontserratAlt1-Regular";
  font-size: 1.2vw;
  text-align: justify;
}
.presentation p:first-child {
  padding-top: 8.5vh;
}
.presentation p span {
  font-size: 1.6vw;
}
.presentation img {
  height: 65vh;
  border-radius: 30px;
  border: 4px rgb(206, 179, 116) solid;
  border-radius: 30px;
  box-shadow: 10px 6px 6px rgba(0, 0, 0, 0.334);
}

@keyframes titreFadeIn {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}/*# sourceMappingURL=main.css.map */