@import "vendors/normalize.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: ease-in-out 1s;
}

body {
  margin: 0px;
  background: black;
}

#blobs {
  width: 100%;
  height: 100vh;
  z-index: 0;
  position: fixed;
}
#blobs img {
  width: 30%;
}
#blobs :first-child {
  top: 0;
  left: 0;
  position: absolute;
}
#blobs :last-child {
  bottom: 0;
  right: 0;
  position: absolute;
}

#entete .titre .nomets {
  font-family: "LEIXO-DEMO";
  font-weight: 200;
  font-size: 9vw;
  margin-bottom: 0px;
  margin: auto;
  text-align: center;
  background: linear-gradient(120deg, #ad9551 40%, #fcdfbc 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#entete h2 {
  font-family: "adelia";
  margin-left: 60%;
  width: 50%;
  font-size: 1.5vw;
  color: black;
  opacity: 0;
  transform: translateX(-20px);
  animation: titreFadeIn 0.5s ease-out 0.5s forwards;
}
#entete p {
  font-family: "SF-Regular";
  width: 100%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 10vh;
  font-size: 1.2vw;
  text-align: center;
  color: white;
}

.accueil {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;
  margin-top: 12%;
  align-items: center;
}

.linebottom {
  border-top: 2px solid rgb(242, 224, 182);
  bottom: 0;
  margin-top: 40px;
}

.linetop {
  border-top: 2px solid rgb(242, 224, 182);
  top: 10;
}

nav {
  display: flex;
  padding: 20px;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  font-size: 1.2vw;
  position: fixed;
  z-index: 999;
  background-color: black;
  top: 0;
}
nav a {
  color: white;
  text-decoration: none;
  font-family: "SF-Regular";
  transition: ease-in-out 1s;
  position: relative;
}
nav a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: -12px;
  left: -11%;
  background-color: white;
  transition: width 0.5s;
}
nav a:hover::before {
  width: 122%;
}
nav .isactive::before {
  width: 122%;
}
nav img {
  width: 8vh;
}
nav span {
  content: "";
  width: 20%;
  background-color: white;
  height: 1px;
}

.iphone {
  display: flex;
  justify-content: center;
  position: relative;
}
.iphone .photomoi {
  height: 70vh;
  border-radius: 30px;
  border: 5px #ceb374 solid;
  border-radius: 30px;
  box-shadow: 10px 6px 6px rgba(206, 179, 116, 0.4745098039);
  z-index: 0;
}
.iphone .montre {
  display: flex;
  position: absolute;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.5803921569);
  font-family: "SF-Regular";
  z-index: 9999;
  text-align: center;
  flex-direction: column;
  top: 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.iphone .montre #date {
  font-size: 1.1vw;
}
.iphone .montre #heure {
  font-size: 4.6vw;
}
.iphone .tabbar {
  display: flex;
  gap: 2vh;
  background-color: rgba(203, 203, 203, 0.571);
  border-radius: 16px;
  position: absolute;
  bottom: 20px;
  padding: 12px 12px 10px 12px;
  width: 90%;
  height: 7.5vh;
  align-items: center;
}
.iphone .tabbar img {
  width: 90%;
}
.iphone .tabbar a:hover, .iphone .tabbar .isactive {
  -webkit-filter: drop-shadow(2px 6px 6px rgba(0, 0, 0, 0.554));
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: rgba(34, 34, 34, 0.804);
  padding: 8px 20px;
  bottom: 0px;
  margin-top: 4%;
}
footer a {
  text-decoration: none;
  font-family: "SF-Regular";
  color: #ad9551;
  font-size: 1.1vw;
}
footer .liens {
  display: flex;
  gap: 40px;
}

@font-face {
  font-family: "MontserratAlt1-ExtraLight";
  src: url("/Assets/MontserratAlt1-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "MontserratAlt1-Light";
  src: url("/Assets/MontserratAlt1-Light.ttf") format("truetype");
}
@font-face {
  font-family: "MontserratAlt1-Regular";
  src: url("/Assets/MontserratAlt1-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "MontserratAlt1-SemiBold";
  src: url("/Assets/MontserratAlt1-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "MontserratAlt1-Thin";
  src: url("/Assets/MontserratAlt1-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "adelia";
  src: url("/Assets/adelia.ttf") format("truetype");
}
@font-face {
  font-family: "SF-Regular";
  src: url("/Assets/SF-Compact-Rounded-Regular.otf") format("opentype");
}
@font-face {
  font-family: "SF-Semibold";
  src: url("/Assets/SF-Compact-Rounded-Semibold.otf") format("opentype");
}
@font-face {
  font-family: "LEIXO-DEMO";
  src: url("/Assets/LEIXO-DEMO.ttf") format("truetype");
}
@font-face {
  font-family: "Roundor";
  src: url("/Assets/RoundorNonCommercial.otf") format("opentype");
}
.titrepage {
  font-family: "MontserratAlt1-Regular";
  font-size: 1.4vw;
  margin: 10px 0px 10px 20px;
  background: linear-gradient(120deg, #ceb374 20%, rgb(252, 223, 188) 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0;
  margin-left: 5%;
  opacity: 0;
  transform: translateX(20px);
  animation: titreFadeIn 0.4s ease-out 0.4s forwards;
}
.titrepage h1 {
  margin-bottom: 0;
}
.titrepage .icones {
  display: flex;
}
.titrepage .icones img {
  width: 3vw;
  height: 3vw;
  margin-right: 6px;
  margin-top: 2%;
}

.linedown {
  width: 26%;
  border: 1px solid rgb(206, 179, 116);
  padding: 0;
}

.presentation {
  display: flex;
  width: 80%;
  margin: auto;
  gap: 10%;
}
.presentation .textepres {
  width: 60%;
}
.presentation p {
  width: 100%;
  margin: auto;
  padding: 20px 30px 10px 30px;
  font-family: "SF-Regular";
  font-size: 1.3vw;
  text-align: justify;
}
.presentation p:first-child {
  padding-top: 8.5vh;
}
.presentation p span {
  font-size: 1.8vw;
}

@keyframes titreFadeIn {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}/*# sourceMappingURL=main.css.map */