.titrepage {
    font-family: "MontserratAlt1-Regular";
    font-size: 1.4vw;
    margin: 10px 0px 10px 20px; 
    background: linear-gradient(120deg,#ceb374 20%,rgb(252, 223, 188) 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    padding: 0;
    margin-left: 5%;
    opacity: 0; 
    transform: translateX(20px); 
    animation: titreFadeIn 0.4s ease-out 0.4s forwards;
    h1 {
        margin-bottom: 0; 
    }
    .icones {
        display: flex;
        img {
            width: 3vw;
            height: 3vw; 
            margin-right: 6px;
            margin-top: 2%;
        }
    }
}

.linedown {
    width: 26%;
    border: 1px solid rgb(206, 179, 116);
    padding: 0;
}

.presentation {
    display: flex;
    width: 80%;
    margin: auto;
    gap: 10%;
    .textepres {
        width: 60%;
    }
    p {
        width: 100%;
        margin: auto;
        padding: 20px 30px 10px 30px;
        font-family: "MontserratAlt1-Regular";
        font-size: 1.2vw;
        text-align: justify;
        &:first-child {
            padding-top: 8.5vh;
        }
        span {
            font-size: 1.6vw;
        }
    }
    img {
        height: 65vh;
        border-radius: 30px;
        border: 4px rgb(206, 179, 116) solid;
        border-radius: 30px;
        box-shadow: 10px 6px 6px rgba(0, 0, 0, 0.334);    }
}


@keyframes titreFadeIn {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}