@font-face {
    font-family: "MontserratAlt1-ExtraLight";
    src: url("/Assets/MontserratAlt1-ExtraLight.ttf") format('truetype');

}

@font-face {
    font-family: "MontserratAlt1-Light";
    src: url("/Assets/MontserratAlt1-Light.ttf") format('truetype');

}

@font-face {
    font-family: "MontserratAlt1-Regular";
    src: url("/Assets/MontserratAlt1-Regular.ttf") format('truetype');

}


@font-face {
    font-family: "MontserratAlt1-SemiBold";
    src: url("/Assets/MontserratAlt1-SemiBold.ttf") format('truetype');

}


@font-face {
    font-family: "MontserratAlt1-Thin";
    src: url("/Assets/MontserratAlt1-Thin.ttf") format('truetype');

}

@font-face {
    font-family: "adelia";
    src: url("/Assets/adelia.ttf") format('truetype');

}

@font-face {
    font-family: "SF-Regular";
    src: url("/Assets/SF-Compact-Rounded-Regular.otf") format('opentype');
}

@font-face {
    font-family: "SF-Semibold";
    src: url("/Assets/SF-Compact-Rounded-Semibold.otf") format('opentype');

}

@font-face {
    font-family: "LEIXO-DEMO";
    src: url("/Assets/LEIXO-DEMO.ttf") format('truetype');

}

@font-face {
    font-family: "Roundor";
    src: url("/Assets/RoundorNonCommercial.otf") format('opentype');

}