nav {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    a {
        color: rgb(103, 94, 78);
        text-decoration: none;
        font-family: "MontserratAlt1-Regular";
        transition: ease-in-out 1s;
        position: relative;
    }
    a::before {
        content: "";
        position: absolute;
        width: 0;
        height: 2px; 
        bottom: -10px; 
        left: -11%; 
        background-color: rgb(103, 94, 78); 
        transition: width 0.5s; 
    }
    a:hover::before {
        width: 122%;
    }
}