#entete {
    .titre {
        .nomets {
            font-family: "Qeilab";
            font-weight: 200;
            font-size: 8vw;
            margin-bottom: 0px;
            margin: auto;
            text-align: center;
            color: #ad9661;
            letter-spacing: 1vh;
            span {
              color: black;
            }
        }
    }

    // h2 {
    //     font-family: "adelia";
    //     margin-left: 60%;
    //     width: 50%;
    //     font-size: 1.5vw;
    //     color: rgba(0, 0, 0, 0.856);
    //     opacity: 0;
    //     transform: translateX(-20px);
    //     animation: titreFadeIn 0.5s ease-out 0.5s forwards;

    // }

    p {
        font-family: "Didot";
        width: 70%;
        margin: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 1.3vw;
        text-align: center;
        color: rgba(0, 0, 0, 0.757);
        border-left: 6px #ad95516a solid;
        border-top: 2px #ad95516a solid;
    }
}
    





.accueil {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    padding-top: 10%;
    align-items: center;
    // flex-direction: column;
    img {
      width: 60vh;
      -webkit-filter: drop-shadow(-20px 0px 0px #ad94516a)

    }
}

.linebottom {
    border-top: 2px solid rgb(242, 224, 182);
    bottom: 0;
    margin-top: 40px;
}

.linetop {
    border-top: 2px solid rgb(242, 224, 182);
    top: 10;
}