#entete {
    .titre {
        .nomets {
            font-family: "MontserratAlt1-Thin";
            font-size: 6.5vw;
            margin-bottom: 0px;
            margin: auto;
            text-align: center;
            background: linear-gradient(120deg, #ceb374 20%, #fcdfbc 100%);
            background-clip: border-box;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    h2 {
        font-family: "adelia";
        margin-left: 60%;
        font-size: 1.5vw;
        color: black;
        opacity: 0;
        transform: translateX(-20px);
        animation: titreFadeIn 0.5s ease-out 0.5s forwards;
    }

    p {
        font-family: "SF-Regular";
        width: 52%;
        margin: auto;
        padding-top: 100px;
        font-size: 1.2vw;

    }
}


.iphone {
    display: flex;
    justify-content: center;
    position: relative;
    .photomoi {
        height: 70vh;
        border-radius: 30px;
        border: 5px rgb(206, 179, 116) solid;
        border-radius: 30px;
        box-shadow: 10px 6px 6px rgba(206, 179, 116, 0.474);
        z-index: 0;
    }
    .montre {
        display: flex;
        position: absolute;
        font-weight: bold;
        color: #ffffff94;
        font-family: "SF-Regular";
        z-index: 9999;
        text-align: center;
        flex-direction: column;
        top: 50px;
        user-select: none;
        #date {
            font-size: 1.1vw;
        }

        #heure {
            font-size: 4.6vw;
        }
    }
    .tabbar {
        display: flex;
        gap: 2vh;
        background-color: rgba(203, 203, 203, 0.571);
        border-radius: 20px;
        position: absolute;
        bottom: 20px;
        padding: 10px 12px;
        width: 90%;
        height: 8vh;
        img {
            width: 90%;
        }
    }
}

.accueil {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    margin-top: 4%;
    align-items: center;
}

.linebottom {
    border-top: 2px solid rgb(242, 224, 182);
    bottom: 0;
    margin-top: 40px;
}

.linetop {
    border-top: 2px solid rgb(242, 224, 182);
    top: 10;
}