#entete {
    .titre {
        .nomets {
            font-family: "MontserratAlt1-Thin";
            font-size: 6.5vw;
            margin-bottom: 0px;
            margin: auto;
            text-align: center;
            background: linear-gradient(120deg, #ceb374 20%, #fcdfbc 100%);
            background-clip: border-box;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    h2 {
        font-family: "adelia";
        margin-left: 60%;
        width: 50%;
        font-size: 1.5vw;
        color: black;
        opacity: 0;
        transform: translateX(-20px);
        animation: titreFadeIn 0.5s ease-out 0.5s forwards;
    }

    p {
        font-family: "SF-Regular";
        width: 100%;
        margin: auto;
        padding-top: 100px;
        font-size: 1.2vw;
        text-align: center;

    }
}




.accueil {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    margin-top: 4%;
    align-items: center;
}

.linebottom {
    border-top: 2px solid rgb(242, 224, 182);
    bottom: 0;
    margin-top: 40px;
}

.linetop {
    border-top: 2px solid rgb(242, 224, 182);
    top: 10;
}