// body {
//     margin: 0px;
//     background-color: linear-gradient(45deg, black, purple, yellow, purple, black);
// }

body {
    // background-image: linear-gradient(to bottom right, black, rgba(97, 15, 97, 0.833) 30%,rgba(97, 15, 97, 0.833) 40%, black 80%, black); /* Couleurs de dégradé */
    // background-size: cover; /* Ajuster la taille du dégradé pour remplir la page */
    // background-attachment: fixed; /* Fixer l'arrière-plan pour qu'il reste en place lorsque vous faites défiler la page */
    // background-repeat: no-repeat; 
    margin: 0px;
    height: 95vh;
    border: 20px rgb(39, 39, 39) solid;

    // padding: 45vh 40vw;
  }